<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="search">Search your video: </label>
                <input type="text" class="form-control" [(ngModel)]="searchValue" (keyup)="onKeyUp()" list="videos" id="search" placeholder="Cats">
            </div>
            <datalist id="videos" *ngIf="items.length > 0">
                <option *ngFor="let item of items" [value]="item.snippet.title">
            </datalist>
        </div>
    </div>
</div>


